@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #20212D;
  --foreground: #F1FBFF;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mulish);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title-quattrocento-sans);
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .gradient-neptune {
    @apply bg-gradient-to-r from-neptune via-neptune to-orange bg-clip-text text-transparent w-fit;
  }
}
