@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #20212d;
  --foreground: #f1fbff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mulish);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title-quattrocento-sans);
}

.fade-img-bottom {
  -webkit-mask-image: linear-gradient(to bottom, white 0%, transparent);
  mask-image: linear-gradient(to bottom, white 0%, transparent);
  -webkit-mask-size: cover;
  mask-size: cover;
}
.fade-img-top-bottom {
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 40%,
    white 60%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    white 40%,
    white 60%,
    transparent 100%
  );
  -webkit-mask-size: cover;
  mask-size: cover;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .link-hover {
    @apply hover:text-white-200;
  }

  .gradient-neptune {
    @apply bg-gradient-to-r from-neptune via-neptune to-orange bg-clip-text text-transparent w-fit;
  }

  .hero-text-box-width {
    @apply min-w-36 sm:min-w-48 md:min-w-72;
  }
}
